.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.resize-poster{
	width: 200px;
	height: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
	transition: transform .2s; /*Animation*/
}
.img-fluid:hover{
	transform: scale(1.1);
}

.thumb-info {
    display: block;
    position: relative;
    text-decoration: none;
    max-width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.thumb-info-wrapper {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    border-radius: 4px;
    margin: 0;
    overflow: hidden;
    display: block;
    position: relative;
}

.postsh {
    float: left;
    margin-bottom: 20px;
    padding-left: 0;
    width: 20%;
}

.poster-media-card {
    background-color: #1d1d1d;
    float: left;
    width: 100%;
}


.poster {
    background-color: #1d1d1d;
    overflow: hidden;
    position: relative;
}

.under-title {
    border-radius: 3px;
    bottom: 5px;
    color: #fff;
    display: block;
    float: right;
    font-size: 12.5px;
    left: 4px;
    padding: 2px 10px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 0 1px rgba(0,0,0,.6);
    background-color: rgba(152,6,6,.68);
}

.poster-image-container {
    position: relative;
    width: 100%;
}

.title {
    bottom: 0;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    left: 0;
    max-width: 100%;
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 3;
}

.anio {
    background: rgba(0,0,0,.5);
    border: 1px solid #920906;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
}

.audio {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 30;
}

.info {
    float: left;
    padding: 10px 0;
    width: 100%;
}

.crop {
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis; 
}

.margenbot {
	padding-bottom: 5px;
	transition: transform .2s;
}
.margenbot:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.border-3{
	border-width: 3px !important;
}